# Ignore IntelliJ IDEA's files
.idea
*.iml

# Ignore node dependency and webpack build files
node_modules
peter.justanothersystem.org/public/dist

# Ignore dotenv files
.env*

# Ignore macOS Finder files
.DS_Store

# Ignore VIM's swap files
*.swp
