html {
  background-color: black;
}

body {
  background-image: url('/images/background.png');
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  &.inactive {
    opacity: 0.9;
  }
}

#progress {
  width: 100vw;
  height: 4vw;
  image-rendering: pixelated;
}

#form {
  margin-left: 1em;
  margin-top: 1em;
}

#image {
  margin: auto;
  width: 100vh;
  user-select: none;
  cursor: grab;
}

#image:active {
  cursor: grabbing;
}

#image:hover {
  filter: grayscale(0.0);
}

#image.active {
  opacity: 0.75;
}


@media all and (orientation: portrait) {

  #image {
    width: 100vw;
  }

}
