doctype html
html
    head
        title Julia's Photoshop Panel
        meta(charset='utf-8')
        meta(name='author' content='Jeffrey Alan Scudder')
        //meta(name='description' content="")
        link(rel='icon' href='/images/favicon.png')
        //meta(property='og:title' content='')
        //meta(property='og:url' content='')
        //meta(property='og:image' content='')
        if process.env.NODE_ENV === 'production'
            link(rel='stylesheet' href='/dist/style.css')
    body
        block scripts
            script(src="https://sdk.amazonaws.com/js/aws-sdk-2.130.0.min.js")
            script(src="/dist/admin.bundle.js")
